body {
  font-family: Helvetica, sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
}
#header {
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px 50px 0 0;
  margin: 0;
}
#header ul {
  display: inline;
  color: white;
}
#header ul li {
  text-decoration: none;
  color: white;
}
#header a {
  text-decoration: none;
  color: white;
}
#header a:hover {
  color: #7AACFF;
}
.center {
  text-align: center;
}
.brand {
  height: 100px;
  background-color: #C52F24;
  width: 100%;
  margin: 0 0 0 0;
  color: white;
  padding-top: 1px;
}
.brand h1 {
  margin-bottom: 0;
}
.brand h3  {
  margin-top: 0;
  font-weight: lighter;
}
h1.heading {
  font-size: 1.8em;
  letter-spacing: .07em;
}
.subheading {
  font-weight: lighter;
}
.intro {
  background-color: #D5E9F6;
  height: 100%;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.narrow {
  width: 50% !important;
}
.cheat-list ul li {
  list-style: none !important;
}
.cheat-list {
  padding-left: 200px !important;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.temp {
  font-size: 50%;
}

.terminal {
  font-family: Menlo, monospace;
  font-size: 80%;
  color: red;
}

.path {
  font-family: 'Courier New', Courier, monospace;
  color: green;
}

.code {
  font-family: Menlo, monospace;
  font-size: 80%;
}

.url {
  color: blue;
}

.placeholder {
  font-style: italic;
}

.comment {
  font-size: 75%;
  color: gray;
}

.todo {
  text-decoration: underline;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 8px;
}

.dir {

}

.file {
  font-weight: bold;
  color: red;}

/* this is adding the triangles to you list items */
ul {
    margin: -.5em 0;
    padding: -.5em 1em;
    list-style: none;
}
li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}
ul.blank li {
  list-style: none !important;
}
li.blank {
  list-style: none !important;
}
/* -------------------------------------------- */

