<!DOCTYPE html>
<html>
  <head>
    <title>Partials</title>
    <link href='../css/partial_style.css' type='text/css' rel='stylesheet' />
  </head>
  <body>
    <div class="container">
      <h3>Layout Partials</h3>
      <section class="code-block">
        <div class="block-head">layouts/application.html.erb</div>
          <pre>
            <code>
              &lt;body&gt;
                <span class="dark"><%= render 'layouts/header' %></span>
                <%= yield %>
              &lt;/body&gt;
            </code>
          </pre>
      </section>
      <section class="code-block">
        <div class="block-head">layouts/_header.html.erb</div>
          <pre>
            <code>
              &lt;div id="header" class="nav navbar navbar-fixed-top">
                &lt;ul class="brand nav navbar-nav pull-left">
                  &lt;li><%= link_to 'Brand Name', root_url %>&lt;/li>
                &lt;/ul>
                &lt;ul class="nav navbar-nav pull-right">
                  &lt;li><%= link_to 'Login', new_session_path %>&lt;/li>
                &lt;/ul>
              &lt;/div>
            </code>
          </pre>
      </section>
    </div>
  </body>
</html>
